<!--TODO: rewrite to BEM-->
<footer class="page-footer">
  <h2 class="myHeader" style="text-align: center">Підпишись на розсилку</h2>
  <h4 style="text-align: center">
    Щонеділі наші редактори відбирають для вас найкращі історії тижня
  </h4>
  <form style="text-align: center">
    <input type="text" />
    <button
      style="
            background: #ff8b33;
            border: none;
            color: #f8f8f8;
            padding: 10px;
          "
    >
      Підписатись
    </button>
  </form>
  <div class="containerFooter">
    <div class="column1Footer" style="grid-column: 1/2"></div>
    <div class="column2Footer" style="grid-column: 2/3">
      <a href="">Про Громадське</a>
      <a href="">Вакансії</a>
      <a href="">Наші політики</a>
    </div>
    <div class="column3Footer" style="grid-column: 3/4">
      <a href="">Контакти</a>
      <a href="">Фінансові звіти</a>
      <a href="">Тендери</a>
    </div>
    <div class="column4Footer" style="grid-column: 4/5">
      <a href="">Структура власності</a>
      <a href="">Реклама</a>
    </div>
    <div class="column5Footer" style="grid-column: 5/6">
      <p>
        Підтримай Громадське. Ми працюємо для тебе та завдяки тобі. Будь нашим
        другом
      </p>
      <button style="color: #f8f8f8; background: #ff8b33; padding: 5px 50px">
        Підтримати
      </button>
    </div>
  </div>
</footer>
