@import "variables.css";
@import "top-news.css";
@import "sub-header.css";
@import "page-layout.css";
@import "logo.css";
@import "header";

button {
  margin: 0 10px;
}

.main-layout {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}
.main-article {
  grid-column: 1 / 9;
  padding: 0 0 20px;
}
.mainHalf1 {
  grid-column: 1 / 5;
  padding: 20px 0;
}
.mainHalf2 {
  grid-column: 5 / 9;
  padding: 20px 0;
}

p {
  border-bottom: 1px solid lightgray;
  padding: 0 0 15px;
}

h1 {
  border-left: 4px solid #ff8b33;
  padding: 5px 20px 0;
  font-family: Montserrat, sans-serif;
}
footer {
  background: #191a1e;
  color: #f8f8f8;
}
.containerFooter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  grid-template-rows: auto;
  max-width: 1200px;
  margin: 0 auto;
}
.column1Footer {
  grid-column: 1 / 2;
}
