.header {
  &__navigation-container {
    width: var(--content-width);
    height: 55px;
    margin: 0 auto;
  }

  &__item {
    color: white;
    font-size: 16px;
    line-height: 55px;
    font-weight: 600;
    font-family: sans-serif;
    margin: 15px;
    text-decoration: none;

    &--logo {
      border-right: solid white 1px;
      padding-right: 35px;
    }

    &:hover {
      color: #ff8b33;
    }
  }

  &__item-donation {
    background: linear-gradient(to right, #4bdd88, #27ae7e);
    border-radius: 35px;
    font-family: Montserrat, sans-serif;
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    cursor: pointer;
    border: none;
    padding: 10px 17px 10px 55px;
    height: 42px;
    align-items: center;
  }
  &__item-language {
    background: black;
    border-radius: 35px;
    font-family: Montserrat, sans-serif;
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    cursor: pointer;
    border: solid #f8f8f8 2px;
    padding: 8px;
    height: 42px;
    align-items: center;
  }
}
