.page-layout {
  margin: 0;
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  min-height: 100vh;

  &__header {
    position: sticky;
    top: 0;
    background: black;
  }

  &__navigation-placeholder {
    margin-bottom: 30px;
  }

  &__container {
    margin: 0 auto;
    width: var(--content-width);
  }
}
